# Ignore all
*

# Avoid ignoring directory
!*/

# Avoid ignoring some suffix
!*.cmd
!*.in[if]
!*.py
!*.sh
!*.vbs
!*.xlib

# Avoid ignoring default file
!.dockerignore
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!Dockerfile
!README.md
!README.zh-CN.md
!LICENSE
!x*

# Ignore some directory
.*/
*.code-workspace
